.nav {
    background-color: #1867D3;
    height: 75px;
}

.title {
    position: absolute;
    width: 146px;
    height: 50px;
    left: 12.5px;
    top: 12.5px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    line-height: 50px;
    cursor: default;
}

.details, .pricing, .signup, .signin {
    position: absolute;
    width: 105px;
    height: 30px;
    top: 22.5px;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #CAC4C4;
    margin: 0;
    line-height: 30px;
    cursor: default;
}

.details {
    right: 406px;
}

.pricing {
    right: 281px;
}

.signup {
    right: 137.5px;
}

.signin {
    right: 12.5px;
}

.line {
    position: absolute;
    width: 0px;
    height: 50px;
    right: 261.25px;
    top: 12.5px;
    border-right: 1px solid #CAC4C4;
}
