<div class="main">
  <img class="electricity" src="../../assets/images/electricity.svg" />
  <img class="brain" src="../../assets/images/brain.svg" />
  <p class="txt">
    With P2PAI train your machine learning algorithms on other users’ computer
  </p>
  <button class="button">Download</button>
  <p class="features">Features</p>
  <div
    class="left"
    (mouseenter)="displayRight = true"
    (mouseleave)="displayRight = false"
  >
    <div class="featContainer" *ngIf="!displayLeft">
      <p class="featTxt">I want to train !</p>
      <img class="featImg" src="../../../assets/images/settings.svg" />
    </div>
    <div class="tableLeft" *ngIf="displayLeft" [@animStateXRL]="'in'">
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img
              class="detailImg"
              src="../../../assets/images/graphics-card.svg"
            />
            <div class="line"></div>
            <p class="detailTxt">Lend your computationnal power</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img class="detailImg" src="../../../assets/images/checklist.svg" />
            <div class="line"></div>
            <p class="detailTxt">Select what project you want to help</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img class="detailImg" src="../../../assets/images/clock.svg" />
            <div class="line"></div>
            <p class="detailTxt">Set training time in advance</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img class="detailImg" src="../../../assets/images/money.svg" />
            <div class="line"></div>
            <p class="detailTxt">Earn rewards for your service time</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bigLine"></div>
  <div
    class="right"
    (mouseenter)="displayLeft = true"
    (mouseleave)="displayLeft = false"
  >
    <div class="featContainer" *ngIf="!displayRight">
      <p class="featTxt">I want to use my power !</p>
      <img class="featImg" src="../../../assets/images/flex.svg" />
    </div>
    <div class="tableRight" *ngIf="displayRight" [@animStateXLR]="'in'">
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img class="detailImg" src="../../../assets/images/factory.svg" />
            <div class="line"></div>
            <p class="detailTxt">Train your power consumming models</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img class="detailImg" src="../../../assets/images/github.svg" />
            <div class="line"></div>
            <p class="detailTxt">Make your project selectionnable</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img class="detailImg" src="../../../assets/images/docker.svg" />
            <div class="line"></div>
            <p class="detailTxt">Facilitate the training process</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail">
          <div class="detailContent">
            <img class="detailImg" src="../../../assets/images/bell.svg" />
            <div class="line"></div>
            <p class="detailTxt">Get notified when it is finished</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
