.main {
  background-color: #281a79;
  height: calc(200vh - 75px);
  box-sizing: border-box;
}

.electricity {
  position: absolute;
  width: 150px;
  height: calc(200vh - 75px);
  left: 100px;
  top: 75px;
}

.brain {
  position: absolute;
  width: 1041px;
  height: 352px;
  left: calc(50vw - 520.5px);
  top: 190px;
}

.txt {
  position: absolute;
  width: 75vw;
  left: calc(50vw - 37.5vw);
  top: 650px;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.button {
  position: absolute;
  width: 250px;
  height: 75px;
  left: calc(50vw - 125px);
  top: 814px;
  background: #c21264;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: #ffffff;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  margin: 0;
}

.features {
  position: absolute;
  width: 200px;
  height: 43px;
  left: calc(50vw - 100px);
  top: 105vh;

  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.row {
  display: table-row;
}

.detail {
  background-color: #1867d3;
  display: table-cell;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detailContent {
  position: relative;
  display: flex;
  width: 400px;
  height: 150px;
}

.detailImg {
  position: absolute;
  width: 75px;
  top: calc(50% - 37.5px);
  left: 20px;
}

.detailTxt {
  position: absolute;
  top: calc(50% - 25px);
  left: 135px;
  width: 250px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin: 0;
}

.line {
  position: absolute;
  left: 115px;
  top: calc(50% - 50px);
  width: 0px;
  height: 100px;
  border-right: 2px solid white;
}

.bigLine {
  position: absolute;
  left: calc(50vw - 1px);
  top: 115vh;
  width: 0px;
  height: 80vh;
  border-right: 2px solid white;
}

.left {
  position: absolute;
  top: 111.5vh;
  left: calc(50vw - 500px);
  width: 500px;
  height: 86vh;
  align-items: center;
}

.right {
  position: absolute;
  top: 111.5vh;
  left: 50vw;
  width: 500px;
  height: 86vh;
}

.tableLeft {
  width: 400px;
  display: table;
  border-spacing: 50px 50px;
}

.tableRight {
  width: 400px;
  display: table;
  border-spacing: 50px 50px;
}

.featContainer {
  position: absolute;
  top: calc(50% - 183.5px);
  width: 100%;
}

.featTxt {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.featImg {
  width: 256px;
  margin: auto;
  display: block;
}
